$color1: #ffffff;
$color2: #e5e5e5;
$color3: rgba(255, 255, 255, 0.25);
$color4: rgba(255, 255, 255, 0.1);
$blue-1: #62b8f5;
$blue-2: #4475ef;
$shadow: rgba(3, 46, 87, 0.2);
$active: #34c759;
$red: #ed4956;
$dark: #181818;
$light: #A9A9A9;


$mobile-break: 500px;
$break-narrow: 700px;