* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: lh(14px);
    font-size: 18px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0 0 0.3rem;
    line-height: lh(20px, 29px);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input:active,
input:focus {
    outline: none;
}

textarea:active,
textarea:focus {
    outline: none;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}